.existing-or-new-selector {
	.selector-content {
		padding-left: 30px;
		margin: .5em 0 2em;
	}

	&#new-folder-block {
		.selector-content {
			label {
				float: left;
				width: 150px;
				clear: left;
			}

			input, select {
				margin: 15px 0 5px;
				width: 300px;
			}
		}
	}
}

#buddypress .standard-form .existing-or-new-selector label {
	font-weight: normal;

	&.radio-label {
		padding-left: 5px;
		display: inline;
	}
}

.docs-folder-tree {
	& > li.folder {
		margin-left: 0;
	}

	li.folder {
		position: relative;

		& > a {
			padding: 1px 10px;
			display: inline-block;
			width: 50%;
		}

		&:hover > a, &.hover > a {
			padding: 0px 9px;
			border: 1px solid #666;
		}
	}

	.doc-in-folder {
		& > a {
			padding: 1px 10px;
		}
	}
}
