$grey: #f3f3f3;
$dark_grey: #ccc;
$grey_text: #757575;
$toggle_radius: 2px;

@mixin multi-columns($columns, $column_gap) {
  -moz-column-count: $columns;
  -moz-column-gap: $column_gap;
  -webkit-column-count: $columns;
  -webkit-column-gap: $column_gap;
  column-count: $columns;
  column-gap: $column_gap;
}

// Font size mixins for use in Twenty family theme styles.
@mixin font-size-base14($font-size: 14) {
	font-size: ($font-size) + px;
	font-size: ($font-size / 14) + rem;
}
@mixin font-size-base16($font-size: 16) {
	font-size: ($font-size) + px;
	font-size: ($font-size / 16) + rem;
}
// Twenty Fifteen and Sixteen equate 10px with a rem.
@mixin font-size-base10($font-size: 14) {
	font-size: ($font-size) + px;
	font-size: ($font-size / 10) + rem;
}