.docs-filter {
	display: block;
	width: 400px;
	float: left;
	margin-bottom: 15px;
}

.docs-filter-tags {
	width: 100%; /* At the moment there is only one filter box, so let's make it wide */
}

.docs-filter-tags ul li {
	display: block;
	width: 120px;
	float: left;
	padding: 6px;
}

#docs-filter-submit {
	margin: 10px 4px;
}

.title-cell {
	width: 30%;
}

.author-cell, .created-date-cell, .edited-date-cell {
	text-align: center;
	width: 100px;
}

.current-orderby a {
	padding-left: 20px;
}

.asc a {
	background: url(../images/sort-col-asc.gif) no-repeat;	
}

.desc a {
	background: url(../images/sort-col-desc.gif) no-repeat;	
}

.doc-edit-link {
	margin: 0 0 20px 0;
}

.doc-meta, #doc-meta {
	padding-top: 20px;
	border-top: 1px solid #ddd;
}

p.currently-viewing {
	font-size: 12pt;
}

a.doc-filter-toggle {
	text-decoration: none;
	font-weight: bold;
}

p#filter-by-tag {
	margin-bottom: 0;
}