/**
 * Contains/loads all the wiki css styles.  
 */


.wiki-hidden {
	display:none;
}

#wiki-homepage-summary {
	margin-bottom:10px;
	width:400px;
	height:100px;
}

a.wiki{
	background:url("../images/white-grad.png") repeat-x scroll left top transparent;
	border:1px solid #DDDDDD;
	color:#888888;
	cursor:pointer;
	font-size:12px;
	font-weight:normal;
	padding:2px 6px 5px;
	text-decoration:none;
	vertical-align:bottom;
	margin-top:1px;
}

a.wiki:hover{
	border-color:#AAAAAA;
	color:#555555;
	outline:medium none;
}

button.wiki{
	background:url("../images/white-grad.png") repeat-x scroll left top transparent;
	border:1px solid #DDDDDD;
	color:#888888;
	cursor:pointer;
	font-size:12px;
	font-weight:normal;
	padding:2px 5px 3px;
	text-decoration:none;
	vertical-align:bottom;
	margin-top:1px;
	margin-left:2px;
}


button.wiki:hover{
	border-color:#AAAAAA;
	color:#555555;
	outline:medium none;
}

td.col-pagename{
	text-align:center;
	width: 20%;
	overflow:hidden;
}

td.col-excerpt{
	text-align:center;
	overflow:hidden;
}

td.col-author{
	text-align:center;
	width: 35%;
	overflow:hidden;
}


td.col-menu-order{
	display:none;
}

ul.bp-wiki-group-breadcrumbs {
	height:20px;
}


li.bp-wiki-group-breadcrumbs {
	display: inline;
	list-style-type: none;
	padding-right: 5px;
}


.bp-wiki-frontend-form-element{
	float:left;
	padding-left:2px;
}


form.bp-wiki-frontend-form{
	float:right;
}


.wiki-page-order{
	float:left;
	list-style-type: none;
	width:20px;
	overflow:hidden;
	text-align:center;
	height:30px;
	vertical-align:middle;
}

.wiki-page-title{
	float:left;
	list-style-type: none;
	width:210px;
	overflow:hidden;
	height:24px;
	vertical-align:middle;
}


.wiki-group-page-title-bar, #wiki-page-title-textbox{
	font: bold 16px/18px arial;
	color: #272727;
}


.wiki-group-page-title-bar{
	background-color: #F4F4F4;
	margin: 20px -20px 10px;
	overflow: hidden;
	padding: 5px 5px 5px 15px;
}





#wiki-page-title-textbox{
	width:350px;
}


#wiki-page-title-text {
	width: 300px;
}


li.wiki-page-title-input{
	list-style-type: decimal;
}





.wiki-page-privacy{
	float:left;
	list-style-type: none;
	text-align:center;
	width:140px;
	overflow:hidden;
	height:30px;
	vertical-align:middle;
}



.wiki-page-editing{
	float:left;
	list-style-type: none;
	text-align:center;
	width:140px;
	overflow:hidden;
	height:30px;
	vertical-align:middle;
}


.wiki-page-commenting{
	float:left;
	list-style-type: none;
	text-align:center;
	width:70px;
	overflow:hidden;
	height:30px;
}





.wiki-page-enabled{
	float:left;
	list-style-type: none;
	text-align:center;
	width:60px;
	overflow:hidden;
	height:30px;
}





.wiki-page-delete{
	list-style-type: none;
	text-align:center;
	width:40px;
	overflow:hidden;
	height:30px;
	margin-top:0px;
}





.wiki-group-admin-heading{
	background-color: #EAEAEA;
	width:695px;
	height:20px;
	vertical-align:middle;
}


.wiki-group-admin-list-page{
	width:695px;
	height:30px;
	vertical-align:middle;
}


.wiki-group-admin-check-box{
	padding-top:3px;
	margin-bottom:-5px;
}


.wiki-group-page-content{
	padding-top:10px;
	padding-bottom:15px;
}


.wiki-group-page-buttons{
	margin-top:-4px;
	float:right;
}

#wiki-group-page-edit-title-button button.wiki {
/* 	float:left; */
	font-size: 9px !important;

}

#wiki-group-page-edit-page-button{
	float:right;
}


#wiki-page-summary-textbox{
	height:50px;
	width:500px;
}

#bp-wiki-index-left {
	width:450px;
	height:100px;
	float:left;
	overflow:hidden;
	margin-bottom:10px;
}


#bp-wiki-index-right {
	width: 200px;
	float:left;
	height:50px;
	margin-top:60px;
}


.bp-wiki-index-text{
	padding: 12px 0;	
/* 	border-top: 1px solid #EAEAEA;	 */
/* 	border-bottom: 1px solid #EAEAEA; */
	margin-top: 10px;
	font-size: 14px;
}


.bp-wiki-index-page-title a {
	text-decoration:none;
	font-size: 16px;
	line-height: 120%;
}


.bp-wiki-index-divider {
/* 	border-bottom: 1px solid #EAEAEA; */
	padding: 7px 0;
}

.bp-wiki-index-divider.twocolumn {
	margin-right: 3%;
	width: 47%;
	float: right;  		
/* 	height: 110px;		 */
/* 	overflow:hidden; */
}


.bp-wiki-index-divider.twocolumn.alt {
	float: left;
	clear: left;
}

/*
.bp-wiki-group-index-page-divider-alt{
	padding:10px;
	background-color:#EAEAEA;
}
*/

.bp-wiki-index-meta {
	font-size: 10px;
	color: #AAA;
/* 	padding-bottom: 10px; */
}


.bp-wiki-index-excerpt{
	line-height: 140%;
/* 	height:50px; */
/* 	overflow:hidden; */
}


#bp-wiki-group-frontend-page-create-box{
	clear:both;
	padding-top:10px;
}

.alt-wiki-admin-ul{
	background-color: #EAEAEA;
}



/*Fix for broken list formatting in “BuddyPress Wiki Component” */

/*provided by olafdruemmer */

.wiki-group-page-content ul
{

list-style:disc;
padding-left:5%;

}

.wiki-group-page-content ol
{

list-style:decimal;
padding-left:5%;

}
/*END of Fix for broken list formatting in “BuddyPress Wiki Component” */